.DS_Store
.swiftpm/
.build/
*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
# Exclude debug symbols to reduce repository size
**/*.dSYM
